body{
    background-color: #fcfcfc;
}

.color-box input[type="text"]{
    color: whitesmoke;
}

.label-entry{
    padding-bottom: 10px;
}

.hidden{
    display: none;
}

.deleted{
    position: relative;
    top: 20px;
    border-color: #666;
    width: 260px;
    margin: 0;
    z-index: 1;
}

.uncommited:before{
    content: "* ";
    margin-left: -9px;
    float: left;
}

#content{
    margin-top: 60px;
}

.label-fitting {
    /* max-width: 45%; */
    /* min-width: 7rem; */
    display: inline-flex;
}

.color-fitting {
    max-width: 5.25rem;
    min-width: 5rem;
}

#copyUrl {
    width: 100%;
}

form > input {
    margin-bottom: 0.5rem;
}

.btn-link:hover, .btn-link:focus {
    text-decoration: none;
}
