// Run this command to let sass watch for changes and automatically output
// sass --watch ./scss/app.scss:./css/app.min.css --style compressed

body {
  background-color: #fcfcfc;

  #content {
    margin-top: 60px;
  }

  .color-box input[type="text"] {
    color: whitesmoke;
  }

  #nav-tab a {
    font-size: 1.05rem;
  }

  .label-entry,
  .milestone-entry {
    width: 100%;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 0fr 1fr 50px;
    justify-items: stretch;
    align-items: stretch;

    .card {
      grid-column: 2 / 3;

      .flexbox-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
      }

      .label-fitting {
        // max-width: 75%;
        min-width: 75%;
        flex-grow: 1;
        margin-right: 5px;
      }

      .title-fitting {
        min-width: 100%;
        flex-grow: 1;
      }

      .color-fitting {
        max-width: 15%;
        min-width: 4rem;
        text-align: center;
      }

      .description-fitting {
        min-width: 100%;
      }
    }

    button {
      margin-bottom: 0;
      margin-left: 0.25rem;
      padding-left: 0;
      padding-right: 0;
      font-size: 1.5rem;
    }
  }

  .red-alert-background {
    background-color: #FFCCCB;
  }

  .hidden {
    display: none;
  }

  .deleted-card {
    pointer-events: none;
    opacity: 0.45;
  }

  .uncommitted:before {
    content: "* ";
    font-size: 1rem;
    margin-left: -12px;
    float: left;
  }

  .uncommitted.duplicate-entry:before {
    content: "! ";
    font-size: 1rem;
    margin-left: -12px;
    float: left;
  }
}
