// sass --watch ./scss/app.scss:./css/app.min.css --style compressed

body{
  background-color: #fcfcfc;
}

.color-box input[type="text"]{
  color: whitesmoke;
}

.label-entry{
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 0fr 1fr 50px;
  align-items: stretch;

  .card {
    grid-column: 2 / 3;
  }

  .label-fitting {
    max-width: 75%;
    min-width: 70%;
    display: inline-flex;
    margin-right: 4px;
  }
  
  .color-fitting {
    max-width: 15%;
    min-width: 4rem;
    text-align: center;
  }
  
  .description-fitting {
    min-width: 100%;
  }

  button {
    margin-bottom: 0;
    margin-left: 0.25rem;
  }
}

.hidden{
  display: none;
}

.deleted{
  color: #828282;

  // &:disabled {
  //   background-color: #e5e4e3;
  // }
}

.uncommitted:before{
  content: "* ";
  margin-left: -12px;
  float: left;
}

#content{
  margin-top: 60px;
}

#copyUrl {
  width: 100%;
}

form > input {
  margin-bottom: 0.5rem;
}
